
body {
  font-family: 'Playfair Display', serif;
  background-image: url('https://images.unsplash.com/photo-1504197906860-da867658e819?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed; 
  color: #4b2a40;
  transition: background 0.3s ease-in-out;
}


body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}


.bg-gold-500 {
  background-color: #ffc87c;
}

.bg-gold-600 {
  background-color: #e6ac63;
}

.hover\:text-gold-500:hover {
  color: purple;
}

.hover\:bg-gold-600:hover {
  background-color: purple;
}

#carousel-items {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-control {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #f4bbc6;
  transition: background-color 0.3s;
}

.carousel-control:hover {
  background-color: purple;
}

.text-gold-500 {
  color: purple;
}

.text-gray-700 {
  color: #704f58;
}

.text-gray-900 {
  color: #3b2a34;
}

.bg-gray-50 {
  background-color: #fef9f6;
}

.bg-gray-100 {
  background-color: #fbeee7;
}

.shadow-lg {
  box-shadow: 0 12px 20px -4px rgba(0, 0, 0, 0.08), 0 8px 12px -6px rgba(0, 0, 0, 0.05);
}

.rounded-lg {
  border-radius: 0.75rem;
}

input, textarea {
  background-color: #fff9f5;
  border: 1px solid #f3d7d9;
  padding: 12px;
  border-radius: 8px;
  transition: border-color 0.3s ease-in-out;
}

input:focus, textarea:focus {
  border-color: #e5a1a7;
  outline: none;
}

.modal-content {
  background-color: #fff7f9;
  border: 1px solid #fad4d9;
  padding: 24px;
}

.close-btn {
  color: #a04d58;
}

button {
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  transform: translateY(-2px);
}

h1, h2, h3 {
  font-family: 'Cormorant Garamond', serif;
  color: #853a5a;
}
